<div class="container dashboard-container">
    <h1 class="dashboard-title">Bienvenido Cliente, <%= user.username %></h1>
    <p class="dashboard-subtitle">Aquí puedes gestionar tus reservas y ver tu historial.</p>

    <div class="dashboard-card">
        <h3>Acciones Rápidas</h3>
        <div class="dashboard-actions-container">
            <a href="/reservas/solicitar" class="btn btn-primary dashboard-button">Solicitar Reserva</a>
            <a href="/reservas/cliente/<%= user.profile_id %>" class="btn btn-primary dashboard-button">Ver Historial de Reservas</a>
            <form action="/sessions/logout" method="POST" class="logout-form-dashboard" style="display: inline;">
                <button type="submit" class="btn dashboard-button logout-button">Cerrar Sesión</button>
            </form>
        </div>
    </div>

</div>
