<h2 class="titulo">Bienvenido, <%= user.username %> (Gerente)</h2>
<p>Panel de gestión de choferes, clientes y admins.</p>


<ul class="dashboard-menu">
  <li><a class="action-button" href="/clientes">Ver clientes</a></li>
  <li><a class="action-button" href="/choferes">Ver choferes</a></li>
  <li><a class="action-button" href="/admins">Ver Administradores</a></li>
  <li><a class="action-button" href="/gerentes">Gestionar Gerentes</a></li>

<ul>
  <li><a href="/clientes" class="dashboard-link">Ver clientes</a></li>
  <li><a href="/choferes" class="dashboard-link">Ver choferes</a></li>
  <li><a href="/admins" class="dashboard-link">Ver Administradores</a></li>
  <li><a href="/gerentes" class="dashboard-link">Gestionar Gerentes</a></li>

</ul>

