<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDU4A8NlTikI_IXo-Ad8afeQYHxQb8ZWss&libraries=places,drawing,geometry" defer></script>
</head>
<body>
    <% if (typeof showHeader === 'undefined' || showHeader) { %>
    <%- include('../partials/header') %>
    <% } %>
  <main class="main-content">
    <%- body %>
    </main>
    <%- include('../partials/footer') %>
    <script src="/js/main.js" defer></script> <!-- Added main.js -->
</body>
</html>
